.trendingTopics {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 19px;
  font-weight: 700;
  font-family: inherit;
}
.settingsIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.infos1,
.title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.infos1 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.design {
  position: relative;
  letter-spacing: 1px;
  line-height: 19px;
  text-transform: uppercase;
}
.threadsdesktop {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-white);
}
.kThreads,
.threadsdesktop {
  position: relative;
  line-height: 19px;
}
.infos,
.topic,
.treanding {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.infos,
.treanding {
  gap: var(--gap-base);
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
}
.infos {
  width: 400px;
  padding: var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
