@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-xl: 20px;

  /* Colors */
  --color-darkgray: #999;
  --color-black: #000;
  --color-gray-100: #1e1e1e;
  --color-dimgray: #616161;
  --color-white: #fff;
  --color-darkslategray: #323232;

  /* Gaps */
  --gap-xs: 12px;
  --gap-7xs: 6px;
  --gap-base: 16px;
  --gap-11xs: 2px;
  --gap-9xs: 4px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-base: 16px;
  --padding-xs: 12px;
  --padding-29xl: 48px;
  --padding-5xs: 8px;
  --padding-6xs: 7px;

  /* border radiuses */
  --br-5xs: 8px;
}
